05-competitor-price-&-offer-monitoring-system/workflow.json
{
  "name": "Competitor Price & Offer Monitoring System improved",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; PriceMonitor/1.0; +https://n8n.io)"
            },
            {
              "name": "Accept-Language",
              "value": "ru-RU,ru;q=0.9,en;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1152,
        112
      ],
      "id": "71247f5a-c387-4d9d-872d-580f0708440f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": "={{ $json.price_selector }}",
              "returnArray": true
            },
            {
              "key": "name",
              "cssSelector": "={{ $json.name_selector }}",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -480,
        96
      ],
      "id": "b3e20dd8-58f6-45d2-aa59-898789a55528",
      "name": "HTML"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1488,
        112
      ],
      "id": "a39005a1-cfbb-4432-ad34-656f9b20fa5a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        32,
        -32
      ],
      "id": "7d899961-3a92-4e10-ba28-73f93da33a21",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_GOOGLE_SHEET_ID_NAME",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_ID_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        192
      ],
      "id": "769bd61b-dcc6-4468-a3f7-30ce6df85c9d",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a261cde-d655-40b6-905e-ebda19b60f77",
              "leftValue": "={{ $json.changed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        192
      ],
      "id": "3a82fb49-bc02-4e1f-af35-a9e8b2307882",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const htmlItems = $input.all();\nconst competitors = $('Competitors list').all().map(item => item.json);\n\nfunction normalizeName(value) {\n  return String(value || '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .toLowerCase();\n}\n\nfunction normalizePrice(value) {\n  const raw = String(value || '').replace(/\\s+/g, ' ').trim();\n  const digits = raw.replace(/\\D/g, '');\n  const numeric = digits ? Number(digits) : null;\n\n  return {\n    raw,\n    numeric: Number.isFinite(numeric) ? numeric : null,\n  };\n}\n\nconst result = [];\n\nhtmlItems.forEach((item, index) => {\n  const names = Array.isArray(item.json.name) ? item.json.name : [];\n  const prices = Array.isArray(item.json.price) ? item.json.price : [];\n  const competitorData = competitors[index];\n  \n  if (!competitorData) return;\n\n  names.forEach((name, index) => {\n    const productName = String(name || '').replace(/\\s+/g, ' ').trim();\n    const price = normalizePrice(prices[index]);\n\n    if (!productName || !price.raw || price.numeric === null) return;\n\n    const normalizedName = normalizeName(productName);\n    const productKey = `${competitorData.competitor}::${normalizedName}`;\n\n    result.push({\n      json: {\n        date: new Date().toISOString().split('T')[0],\n        competitor: competitorData.competitor,\n        url: competitorData.url,\n        product_name: productName,\n        normalized_product_name: normalizedName,\n        product_key: productKey,\n        price: price.raw,\n        price_num: price.numeric,\n      },\n    });\n  });\n});\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -32
      ],
      "id": "8431346f-e179-4f98-b862-e52de43bbe1f",
      "name": "Prepare products"
    },
    {
      "parameters": {
        "jsCode": "const products = Array.isArray($json.data) ? $json.data : [];\nconst competitors = $('Competitors list').all().map(item => item.json);\nconst maxItemsPerCompetitor = 10;\n\nconst grouped = products.reduce((acc, product) => {\n  const competitor = product.competitor || 'Без конкурента';\n  if (!acc[competitor]) acc[competitor] = [];\n  acc[competitor].push(product);\n  return acc;\n}, {});\n\nconst lines = [];\n\ncompetitors.forEach((competitorData) => {\n  const competitor = competitorData.competitor;\n  const items = grouped[competitor] || [];\n\n  lines.push(`🏪 ${competitor} — найдено ${items.length}`);\n\n  if (items.length === 0) {\n    lines.push('Товары не найдены. Проверь CSS-селекторы или загрузку товаров через JavaScript.');\n    lines.push('');\n    return;\n  }\n\n  items.slice(0, maxItemsPerCompetitor).forEach((product, index) => {\n    lines.push(`${index + 1}. ${product.product_name} — ${product.price}`);\n  });\n\n  if (items.length > maxItemsPerCompetitor) {\n    lines.push(`...и еще ${items.length - maxItemsPerCompetitor} товаров`);\n  }\n\n  lines.push('');\n});\n\nconst message = lines.join('\\n').trim();\nconst maxTelegramLength = 3800;\n\nreturn [\n  {\n    json: {\n      total_products: products.length,\n      total_competitors: competitors.length,\n      competitors_with_products: Object.keys(grouped).length,\n      message: message.length > maxTelegramLength\n        ? `${message.slice(0, maxTelegramLength)}\\n\\nСообщение обрезано, полный список смотри в таблице.`\n        : message,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -32
      ],
      "id": "2dcddde0-0dd5-4cc6-9537-88d737a03bbd",
      "name": "Build daily report"
    },
    {
      "parameters": {
        "jsCode": "const products = $('Prepare products').all().map(item => item.json);\nconst rows = $input.all().map(item => item.json).filter(row => Object.keys(row).length > 0);\n\nfunction toNumber(value) {\n  if (value === null || value === undefined || value === '') return null;\n  const digits = String(value).replace(/\\D/g, '');\n  const number = digits ? Number(digits) : null;\n  return Number.isFinite(number) ? number : null;\n}\n\nfunction rowTime(row) {\n  const value = row['Дата последнего обновления'] || row['Дата'] || '';\n  const timestamp = Date.parse(String(value).replace(' ', 'T'));\n  return Number.isFinite(timestamp) ? timestamp : 0;\n}\n\nfunction matches(row, product) {\n  if (row['Ключ']) return row['Ключ'] === product.product_key;\n  return row['Конкурент'] === product.competitor && row['Товар'] === product.product_name;\n}\n\nreturn products.map((current) => {\n  const relevantRows = rows\n    .filter(row => matches(row, current))\n    .sort((a, b) => rowTime(b) - rowTime(a));\n\n  const latest = relevantRows[0];\n  const oldPrice = latest ? latest['Цена'] : null;\n  const oldPriceNum = latest ? toNumber(latest['Цена числом'] || latest['Цена']) : null;\n  const newPriceNum = toNumber(current.price_num);\n  const changed = latest ? oldPriceNum !== newPriceNum : true;\n  const diff = oldPriceNum !== null && newPriceNum !== null ? newPriceNum - oldPriceNum : null;\n  const diffPercent = oldPriceNum && diff !== null ? (diff / oldPriceNum) * 100 : null;\n\n  return {\n    json: {\n      date: current.date,\n      competitor: current.competitor,\n      url: current.url,\n      product_name: current.product_name,\n      normalized_product_name: current.normalized_product_name,\n      product_key: current.product_key,\n      old_price: oldPrice,\n      old_price_num: oldPriceNum,\n      new_price: current.price,\n      new_price_num: newPriceNum,\n      diff,\n      diff_percent: diffPercent === null ? null : Number(diffPercent.toFixed(2)),\n      changed,\n      isNew: !latest,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        192
      ],
      "id": "09bfbaa5-c2ba-4f2a-ab96-e9874531853b",
      "name": "Compare prices"
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "=📱 Ежедневный мониторинг цен\\n\\nКонкурентов всего: {{ $json.total_competitors }}\\nС товарами: {{ $json.competitors_with_products }}\\nТоваров: {{ $json.total_products }}\\n\\n{{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -32
      ],
      "id": "3a9f0713-b4c9-4a6f-8d12-61772eff1f84",
      "name": "Daily report to Telegram",
      "webhookId": "a4ae3a2a-2175-4d55-9859-b1a6af6b75e0",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "REPLACE_WITH_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "=📉 Изменение цены у конкурента 🏪 Конкурент: {{ $('Compare prices').item.json.competitor }} 📱 Товар: {{ $('Compare prices').item.json.product_name }} 🔗 URL: {{ $('Compare prices').item.json.url }} Старая цена: {{ $('Compare prices').item.json.old_price || 'нет данных' }} Новая цена: {{ $('Compare prices').item.json.new_price }} Разница: {{ $('Compare prices').item.json.diff }} ({{ $('Compare prices').item.json.diff_percent }}%) 🤖 AI-анализ:\\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        112
      ],
      "id": "efbbf18a-970b-4d7d-9284-22936dbe1a6e",
      "name": "Price change alert",
      "webhookId": "df9e7536-d522-4442-a5e4-faf55e99b90d",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "REPLACE_WITH_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "REPLACE_WITH_GOOGLE_SHEET_ID_NAME",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_ID_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "REPLACE_WITH_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $now.format('yyyy-MM-dd') }}",
            "Конкурент": "={{ $('Compare prices').item.json.competitor }}",
            "URL": "={{ $('Compare prices').item.json.url }}",
            "Товар": "={{ $('Compare prices').item.json.product_name }}",
            "Нормализованный товар": "={{ $('Compare prices').item.json.normalized_product_name }}",
            "Ключ": "={{ $('Compare prices').item.json.product_key }}",
            "Цена": "={{ $('Compare prices').item.json.new_price }}",
            "Цена числом": "={{ $('Compare prices').item.json.new_price_num }}",
            "Старая цена": "={{ $('Compare prices').item.json.old_price }}",
            "Старая цена числом": "={{ $('Compare prices').item.json.old_price_num }}",
            "Разница": "={{ $('Compare prices').item.json.diff }}",
            "Разница %": "={{ $('Compare prices').item.json.diff_percent }}",
            "Новый товар": "={{ $('Compare prices').item.json.isNew }}",
            "Дата последнего обновления": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Конкурент",
              "displayName": "Конкурент",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Товар",
              "displayName": "Товар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Нормализованный товар",
              "displayName": "Нормализованный товар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ключ",
              "displayName": "Ключ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Цена",
              "displayName": "Цена",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Цена числом",
              "displayName": "Цена числом",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Старая цена",
              "displayName": "Старая цена",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Старая цена числом",
              "displayName": "Старая цена числом",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Разница",
              "displayName": "Разница",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Разница %",
              "displayName": "Разница %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Новый товар",
              "displayName": "Новый товар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата последнего обновления",
              "displayName": "Дата последнего обновления",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        112
      ],
      "id": "e88f9d31-3789-4ce3-9e32-e94a3df45cfa",
      "name": "Save price change",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      competitor: \"Mobilo4ka\",\n      url: \"https://mobilo4ka.ru/apple-tehnika-kupit/smartfony-a/\",\n      name_selector: \".day-product-title a\",\n      price_selector: \".day-product-price span\"\n    }\n  },\n  {\n    json: {\n      competitor: \"Gadjet Sevastopol\",\n      url: \"https://gadjet-crimea.ru/collection/smartfony-apple-iphone\",\n      name_selector: \"a.name\",\n      price_selector: \".price.price-gift\"\n    }\n  },\n  {\n    json: {\n      competitor: \"Alloha Store\",\n      url: \"https://allohastore.ru/smartfony/smartfony-iphone/\",\n      name_selector: \".item-title a\",\n      price_selector: \".item-price\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        112
      ],
      "id": "2682663b-96cf-4e9a-8ea3-7934917642d1",
      "name": "Competitors list"
    },
    {
      "parameters": {
        "jsCode": "const responses = $input.all();\nconst competitors = $('Competitors list').all().map(item => item.json);\n\nreturn responses.map((response, index) => {\n  const body = response.json?.data ?? response.json?.body ?? response.json ?? '';\n\n  return {\n    json: {\n      ...competitors[index],\n      data: typeof body === 'string' ? body : JSON.stringify(body),\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        96
      ],
      "id": "3b100a32-8690-4803-9f21-5cd6e22f058a",
      "name": "Restore competitor data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa2f1e39-64b3-4c13-b55a-6d3748613ade",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -992,
        112
      ],
      "id": "35d01e88-e7ba-4f92-8064-e24a9e24fa1a",
      "name": "Check HTML exists"
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "=⚠️ Ошибка мониторинга.  Сайт не вернул HTML: {{ $('Competitors list').item.json.competitor }} {{ $('Competitors list').item.json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -832,
        256
      ],
      "id": "1c5afe9d-82e1-46e8-88eb-8ed9c03104c8",
      "name": "Send a text message",
      "webhookId": "ef59f565-c26b-4f6c-8288-ba467fa7fcd0",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "REPLACE_WITH_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f0f0e3e-993d-410d-a8ae-ea3c49dc10d5",
              "leftValue": "={{ Array.isArray($json.name) && $json.name.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d7fd2745-612b-4c99-8225-0c077227f1fb",
              "leftValue": "={{ Array.isArray($json.price) && $json.price.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        96
      ],
      "id": "f922e074-c8b5-460f-86f4-1f56a086ae0e",
      "name": "Check products found"
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_TELEGRAM_CHAT_ID",
        "text": "=⚠️ Парсинг не сработал.  Конкурент: {{ $json.competitor }} URL: {{ $json.url }}  Возможная причина: - сайт изменил HTML; - сломался CSS selector; - товары подгружаются через JavaScript.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        336
      ],
      "id": "f1d39916-d069-4671-8ae1-5a83f9483751",
      "name": "Send a text message1",
      "webhookId": "aa69568b-c47f-4e18-87f9-7556877c6a6d",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "REPLACE_WITH_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Конкурент: {{ $json.competitor }}\\nТовар: {{ $json.product_name }}\\nСтарая цена: {{ $json.old_price }}\\nНовая цена: {{ $json.new_price }}\\nРазница: {{ $json.diff }}\\nРазница в процентах: {{ $json.diff_percent }}\\nНовый товар: {{ $json.isNew }}\\nURL: {{ $json.url }}",
        "options": {
          "systemMessage": "Ты — аналитик конкурентного мониторинга. Тебе дают товар, старую цену, новую цену, разницу и конкурента. Кратко объясни, что изменилось, насколько это важно и какое действие стоит предпринять. Если это новый товар, скажи, что базовой цены еще не было. Отвечай на русском, коротко, 3-5 предложений. Без воды."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        112
      ],
      "id": "db845d72-aa3f-41bb-af5b-fd9b4ea22aeb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        368,
        336
      ],
      "id": "b0bfeb53-9174-452c-abcf-6b0821bd0c4a",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "REPLACE_WITH_GROQ_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GROQ_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction escapeHtml(value) {\n  return String(value || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction formatRub(value) {\n  const number = Number(value);\n  if (!Number.isFinite(number)) return '';\n  return `${Math.round(number).toLocaleString('ru-RU')} руб.`;\n}\n\nconst fetchProducts = async (ids) => {\n  const uniqueIds = [...new Set(ids)].filter(Boolean);\n  const products = [];\n\n  for (let index = 0; index < uniqueIds.length; index += 50) {\n    const batch = uniqueIds.slice(index, index + 50);\n    const payload = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://gadjet-crimea.ru/products_by_id/${batch.join(',')}.json`,\n      json: true,\n    });\n\n    products.push(...(payload.products || []));\n  }\n\n  return products;\n};\n\nconst result = [];\n\nfor (const item of items) {\n  if (item.json.competitor !== 'Gadjet Sevastopol') {\n    result.push(item);\n    continue;\n  }\n\n  const sourceHtml = String(item.json.data || '');\n  const productIds = [...sourceHtml.matchAll(/data-product-id=[\"'](\\d+)[\"']/g)].map(match => match[1]);\n  const products = await fetchProducts(productIds);\n\n  const cards = products\n    .map((product) => {\n      const variant = Array.isArray(product.variants) ? product.variants[0] : null;\n      const price = variant ? formatRub(variant.price) : '';\n\n      if (!product.title || !price) return '';\n\n      return `<article class=\"parsed-product\"><a class=\"name\">${escapeHtml(product.title)}</a><div class=\"price price-gift\">${escapeHtml(price)}</div></article>`;\n    })\n    .filter(Boolean)\n    .join('\\n');\n\n  result.push({\n    json: {\n      ...item.json,\n      data: cards || sourceHtml,\n      name_selector: '.parsed-product .name',\n      price_selector: '.parsed-product .price',\n      extracted_product_ids: productIds.length,\n      extracted_products_with_prices: products.length,\n    },\n  });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        96
      ],
      "id": "b9c2305f-13e7-4123-8977-5cba4bfd6528",
      "name": "Enrich Gadjet prices"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check HTML exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Check products found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Competitors list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Build daily report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Compare prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare products": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build daily report": {
      "main": [
        [
          {
            "node": "Daily report to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare prices": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price change alert": {
      "main": [
        [
          {
            "node": "Save price change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitors list": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore competitor data": {
      "main": [
        [
          {
            "node": "Enrich Gadjet prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HTML exists": {
      "main": [
        [
          {
            "node": "Restore competitor data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check products found": {
      "main": [
        [
          {
            "node": "Prepare products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Price change alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Gadjet prices": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REPLACE_WITH_WORKFLOW_VERSION_ID",
  "meta": {
    "instanceId": "REPLACE_WITH_N8N_INSTANCE_ID"
  },
  "id": "REPLACE_WITH_WORKFLOW_ID",
  "tags": []
}