AI-powered Content Repurposing.json
{
  "name": "AI-powered Content Repurposing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3357806e-0476-40e5-b104-b20cb2518bb0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -32
      ],
      "id": "e5f5b131-2cac-4a4b-9d29-58eed2b11eba",
      "name": "Webhook",
      "webhookId": "3357806e-0476-40e5-b104-b20cb2518bb0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body['текст'] }}",
        "options": {
          "systemMessage": "Ты получаешь статью, создай из неё:\n\n🐦 Пост для Twitter/X (до 280 символов)\n📱 Пост для Instagram (с эмодзи и хэштегами)\n💼 Пост для LinkedIn (профессиональный тон)\n📧 Email рассылка (тема + текст)\n\nВерни JSON с четырьмя полями сразу"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -432,
        -32
      ],
      "id": "ddd2f4ad-394b-4a54-9b97-66a5e06526d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -480,
        160
      ],
      "id": "d33e69ee-8a4d-4b37-8ca3-babaf06e5850",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CahgVi1GwdImfmVL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\nconst cleaned = raw.replace(/```json\\n|```/g, '').trim();\nconst data = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    twitter: data.twitter,\n    instagram: data.instagram,\n    linkedin: data.linkedin,\n    email_тема: data.email.тема,\n    email_текст: data.email.текст\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -32
      ],
      "id": "ffc2fd92-5c39-4538-a26b-264ac716cea4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I",
          "mode": "list",
          "cachedResultName": "Тестовая для n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 513065361,
          "mode": "list",
          "cachedResultName": "AI-powered Content Repurposing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit#gid=513065361"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "X": "={{ $json.twitter }}",
            "Instagram": "={{ $json.instagram }}",
            "LinkedIn": "={{ $json.linkedin }}",
            "Email": "=Тема: {{ $json[\"email_тема\"] }}, Текст: {{ $json[\"email_текст\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -32
      ],
      "id": "99848854-d392-4255-8877-6739398bf14c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cmQQOb8PzYi6Lx0K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "=X: {{ $json.X }}\nInstagram: {{ $json.Instagram }}\nLinkedIn: {{ $json.LinkedIn }}\nEmail: {{ $json.Email }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -32
      ],
      "id": "771f82e5-37ee-454f-b980-3e85b200b012",
      "name": "Send a text message",
      "webhookId": "6ea203e7-4831-44c1-82a1-d07daad1f072",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "647b604f-794b-4323-ae54-fadb9c5c0890",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afefe7c7dbea9cfa5a05e33d209b54d273703ddc59fe3bbb48dea781d68cd07c"
  },
  "id": "CISiF23na24KwzKh",
  "tags": []
}