E-commerce Order Processing.json
{
  "name": "E-commerce Order Processing",
  "nodes": [
    {
      "parameters": {
        "path": "0392a810-21ac-4e47-ad14-3c82cc3447c6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        0
      ],
      "id": "b28cac80-78b1-4a14-8cc3-a601dea0b079",
      "name": "Webhook",
      "webhookId": "0392a810-21ac-4e47-ad14-3c82cc3447c6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0e43029-33ae-4ab9-8b98-2bfecf110ce2",
              "name": "имя",
              "value": "={{ $('Webhook').item.json.query['Имя'] }}",
              "type": "string"
            },
            {
              "id": "bb8545e7-5819-4498-8b0a-92af2f89740f",
              "name": "email",
              "value": "={{ $('Webhook').item.json.query.Email }}",
              "type": "string"
            },
            {
              "id": "9e05c5b3-37a4-42c6-a679-177fbd79e66d",
              "name": "телефон",
              "value": "={{ $('Webhook').item.json.query['Телефон'] }}",
              "type": "string"
            },
            {
              "id": "68f04011-ca56-4f4b-8009-155d8c49db90",
              "name": "товар",
              "value": "={{ $('Webhook').item.json.query['Товар'] }}",
              "type": "string"
            },
            {
              "id": "c30ad3ca-c8ab-4937-93bb-115a90702f19",
              "name": "количество",
              "value": "={{ $('Webhook').item.json.query['Количество'] }}",
              "type": "string"
            },
            {
              "id": "75f7c1ca-b678-4221-9553-d409ddc03df4",
              "name": "адрес доставки",
              "value": "={{ $('Webhook').item.json.query['Адрес доставки'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "65f864be-e9f8-4c63-90c0-8e4246dac33b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f48481e-4b7e-4232-816d-f94bfdc045a1",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['количество'] }}",
              "rightValue": "={{ $json['количество'] }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        0
      ],
      "id": "295e5a39-f80f-4def-a1ab-df564bfa67a3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I",
          "mode": "list",
          "cachedResultName": "Тестовая для n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 999065722,
          "mode": "list",
          "cachedResultName": "портфолио6",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit#gid=999065722"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "имя": "={{ $json['имя'] }}",
            "email": "={{ $json.email }}",
            "телефон": "={{ $json['телефон'] }}",
            "товар": "={{ $json['товар'] }}",
            "количество": "={{ $json['количество'] }}",
            "адрес доставки": "={{ $json['адрес доставки'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "имя",
              "displayName": "имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "телефон",
              "displayName": "телефон",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "товар",
              "displayName": "товар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "количество",
              "displayName": "количество",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "адрес доставки",
              "displayName": "адрес доставки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -96
      ],
      "id": "34467316-90a6-4568-bfd9-260290a89c03",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cmQQOb8PzYi6Lx0K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "andy_randy23@mail.ru",
        "subject": "Подтверждение заказа",
        "message": "=<!DOCTYPE html>\n<html lang=\"ru\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Подтверждение заказа</title>\n  </head>\n  <body style=\"margin:0; padding:0; background-color:#f4f4f4;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4; padding:20px 0;\">\n      <tr>\n        <td align=\"center\">\n          <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; font-family:Arial, sans-serif; color:#333333;\">\n            <!-- Шапка -->\n            <tr>\n              <td style=\"background-color:#111827; padding:20px 30px; text-align:center;\">\n                <h1 style=\"margin:0; font-size:22px; color:#ffffff;\">\n                  Спасибо за заказ в {{ $json[\"storeName\"] || \"Нашем магазине\" }}\n                </h1>\n              </td>\n            </tr>\n\n            <!-- Приветствие -->\n            <tr>\n              <td style=\"padding:20px 30px 10px 30px;\">\n                <p style=\"margin:0 0 10px 0; font-size:16px;\">\n                  Здравствуйте, <strong>{{ $json['имя'] }}</strong>!\n                </p>\n                <p style=\"margin:0; font-size:14px; line-height:1.5;\">\n                  Мы получили ваш заказ и уже начали его обработку. Ниже — детали заказа.\n                </p>\n              </td>\n            </tr>\n\n            <!-- Блок с номером и статусом -->\n            <tr>\n              <td style=\"padding:10px 30px 10px 30px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n                  <tr>\n                    <td style=\"padding:10px 0; font-size:14px;\">\n                      <strong>Номер заказа:</strong> {{$json[\"orderId\"] || \"будет присвоен\"}}\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:5px 0; font-size:14px;\">\n                      <strong>Статус:</strong> Принят в обработку\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Детали заказа -->\n            <tr>\n              <td style=\"padding:10px 30px 20px 30px;\">\n                <h2 style=\"margin:0 0 10px 0; font-size:18px; color:#111827;\">\n                  Детали заказа\n                </h2>\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse; font-size:14px;\">\n                  <tr style=\"background-color:#f9fafb;\">\n                    <th align=\"left\" style=\"padding:8px 10px; border-bottom:1px solid #e5e7eb;\">Товар</th>\n                    <th align=\"left\" style=\"padding:8px 10px; border-bottom:1px solid #e5e7eb;\">Количество</th>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:8px 10px; border-bottom:1px solid #e5e7eb;\">\n                      {{ $json['товар'] }}\n                    </td>\n                    <td style=\"padding:8px 10px; border-bottom:1px solid #e5e7eb;\">\n                      {{ $json['количество'] }}\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Доставка -->\n            <tr>\n              <td style=\"padding:0 30px 20px 30px;\">\n                <h2 style=\"margin:0 0 10px 0; font-size:16px; color:#111827;\">\n                  Адрес доставки\n                </h2>\n                <p style=\"margin:0; font-size:14px; line-height:1.5;\">\n                  {{ $json['адрес доставки'] }}\n                </p>\n              </td>\n            </tr>\n\n            <!-- Контакты -->\n            <tr>\n              <td style=\"padding:0 30px 20px 30px;\">\n                <h2 style=\"margin:0 0 10px 0; font-size:16px; color:#111827;\">\n                  Контактные данные\n                </h2>\n                <p style=\"margin:0; font-size:14px; line-height:1.5;\">\n                  Email: {{$json[\"email\"]}}<br />\n                  Телефон: {{ $json['телефон'] }}\n                </p>\n              </td>\n            </tr>\n\n            <!-- Низ письма -->\n            <tr>\n              <td style=\"padding:20px 30px 25px 30px; background-color:#f9fafb; font-size:12px; color:#6b7280; text-align:center;\">\n                Если вы не оформляли этот заказ, просто проигнорируйте это письмо или напишите нам в ответ.<br />\n                {{ $json[\"storeName\"] || \"Магазин\" }} • Служба поддержки\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "2156a9ef-b59f-483c-9ef4-407d9d113b54",
      "name": "Send a message",
      "webhookId": "f66cb62b-4dcc-4a81-bd98-3bd6da6d91cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "BUm4qnzFno1tLMtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I",
          "mode": "list",
          "cachedResultName": "Тестовая для n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2029017665,
          "mode": "list",
          "cachedResultName": "склад",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit#gid=2029017665"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "товар",
              "lookupValue": "={{ $json.query['Товар'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        0
      ],
      "id": "65336c90-965a-4b58-b5db-16fed4c10707",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cmQQOb8PzYi6Lx0K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -96
      ],
      "id": "655f1392-3947-4d98-9f8b-84aaba085c6c",
      "name": "Send a text message",
      "webhookId": "52712465-5f6b-4fa1-82df-665748c80f98",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://b24-gwc7t4.bitrix24.ru/rest/1/9uzaew39xs80eecy/crm.deal.add.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"TITLE\": \"Заявка от {{ $('Webhook').item.json.query['Имя'] }}\",\n    \"COMMENTS\": \"Телефон: {{ $('Webhook').item.json.query['Телефон'] }} Email: {{ $('Webhook').item.json.query.Email }} Заявка: {{ $('Webhook').item.json.query['Интерес'] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        -96
      ],
      "id": "daf08749-dd95-47fd-9d97-a97a77286b16",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        96
      ],
      "id": "82b0bbb4-8fb8-425b-a046-930a6f173c58",
      "name": "Send a message1",
      "webhookId": "8a96b72b-2a5f-4916-9de7-8b5817854aa5",
      "credentials": {
        "gmailOAuth2": {
          "id": "BUm4qnzFno1tLMtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        96
      ],
      "id": "87f5ed5f-5dfb-4fa0-820c-e623b0f12b99",
      "name": "Send a text message1",
      "webhookId": "626f602d-ea5f-4ad5-ad67-6381624f65dc",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a7933f9-a22a-4372-82ae-43f477f6fcaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afefe7c7dbea9cfa5a05e33d209b54d273703ddc59fe3bbb48dea781d68cd07c"
  },
  "id": "4YrE2tA1luvVnzNl",
  "tags": []
}