Финансовый мониторинг.json
{
  "name": "Финансовый мониторинг",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -32
      ],
      "id": "2e26a1f2-31c5-4740-81f9-a31943e05f35",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const rows = items;\n\nlet totalIncome = 0;\nlet totalExpense = 0;\n\nfor (const row of rows) {\n  const type = row.json.Тип;\n  const amount = Number(row.json.Сумма);\n  \n  if (type === 'доход') {\n    totalIncome += amount;\n  } else if (type === 'расход') {\n    totalExpense += amount;\n  }\n}\n\nconst profit = totalIncome - totalExpense;\nconst budget = 1000; // лимит расходов\n\nreturn [{\n  json: {\n    доход: totalIncome,\n    расход: totalExpense,\n    прибыль: profit,\n    превышен: totalExpense > budget\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -32
      ],
      "id": "0f9632f8-8d74-4beb-a856-7b3a0094aa78",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2bf3f870-ed6d-4c69-8d8d-18c7a58fbd6c",
              "leftValue": "={{ $json.превышен }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -32
      ],
      "id": "5ca7ea0b-3b3d-4660-ad3e-7e20c4137d15",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "andy_randy23@mail.ru",
        "subject": "Расход",
        "emailType": "text",
        "message": "=Ваш расход: {{ $json['расход'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        -128
      ],
      "id": "0ca3ee57-4411-4326-bc63-9c6f630d567b",
      "name": "Send a message",
      "webhookId": "78ac34db-ca2a-426f-802e-8397b956d905",
      "credentials": {
        "gmailOAuth2": {
          "id": "BUm4qnzFno1tLMtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "=Ваш расход: {{ $('Code in JavaScript').item.json['расход'] }}, доход: {{ $('Code in JavaScript').item.json['доход'] }}, прибыль составляет: {{ $('Code in JavaScript').item.json['прибыль'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -128
      ],
      "id": "37176abb-f85f-493c-a881-7662847cb51a",
      "name": "Send a text message",
      "webhookId": "ac4584a1-4c3e-4330-aa6e-fa6ae6eff5fe",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "Расход превышен! Остановись!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        64
      ],
      "id": "dee10d86-3288-405f-8efc-8eb1cb8b3f16",
      "name": "Send a text message1",
      "webhookId": "179cb8b7-c3d3-458d-ae93-fe9cb02a9361",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "andy_randy23@mail.ru",
        "subject": "Расход!",
        "emailType": "text",
        "message": "Ваш расход превышен! Аккуратней!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        64
      ],
      "id": "54ed8a34-8094-4419-aeb5-d37f8cb4f6e4",
      "name": "Send a message1",
      "webhookId": "9c1382f0-4bdf-4d12-8ce7-aa28ed54522f",
      "credentials": {
        "gmailOAuth2": {
          "id": "BUm4qnzFno1tLMtq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I",
          "mode": "list",
          "cachedResultName": "Тестовая для n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2144297555,
          "mode": "list",
          "cachedResultName": "Финансовый мониторинг",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcuW1uFnejN6moO9k6x1YzZaKeYf2sqDisPZNsT8O6I/edit#gid=2144297555"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -32
      ],
      "id": "85edc4a5-7fda-4b55-a50b-dbcc750caa6a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cmQQOb8PzYi6Lx0K",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f0aaf720-727a-4858-984d-9ad15e8a147d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afefe7c7dbea9cfa5a05e33d209b54d273703ddc59fe3bbb48dea781d68cd07c"
  },
  "id": "tNgPiptoP2mzmjZG",
  "tags": []
}