01-ai-sales-assistant/workflow.json
{
  "name": "AI ассистент для бизнеса",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        -32
      ],
      "id": "3027b329-d822-4797-acbe-3d6ea398a716",
      "name": "Telegram Trigger",
      "webhookId": "bb5c0149-279a-49ec-81ac-f49593f4c754",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — дружелюбный ассистент студии окрашивания волос в Севастополе. Отвечай только на вопросы о бизнесе: услуги, цены, адрес, часы работы, запись. Если вопрос не по теме (например, о погоде или политике), отвечай: \"Извини, я помогаю только с вопросами о нашей студии. Спроси о услугах, ценах или записи! 😊\"\n\nИнформация о студии (используй дословно, без изменений):\n\nАдрес: г. Севастополь, ул. Большая Морская, д. 24 (вход с торца здания).\n\nЧасы работы: Пн–Сб: 10:00–20:00. Вс: 10:00–16:00.\n\nУслуги и цены (укажи \"от X руб.\" для старта, а в скобках — по длине волос):\n\nТотал-блонд: от 5000 руб. (короткие — 5000 руб., средние — 7000 руб., длинные — 10000 руб.).\n\nОмбре, шатуш, балаяж: от 10000 руб. (короткие — 10000 руб., средние — 15000 руб., длинные — 20000 руб.).\n\nВыход из чёрного: от 5000 руб. (короткие — 5000 руб., средние — 8000 руб., длинные — 12000 руб.).\n\nПравила ответов:\n\nБудь вежливым, кратким (1–3 предложения), используй эмодзи 😊✨.\n\nЕсли цена зависит от длины — спроси: \"Уточни длину волос для точной цены?\"\n\nОтвечай на русском, просто и понятно.\n\nПример ответа на \"Сколько стоит тотал-блонд?\": \"Тотал-блонд от 5000 руб. (короткие — 5000, средние — 7000, длинные — 10000). Уточни длину волос? Хочешь записаться? 😊\"\n\nВот список данных, которые надо собрать у клиента:\nИмя\nУслугу (какое окрашивание+длина волос и стоимость)\nЖелаемого мастера (или \"любой\")\nДату и время\nТелефон\nEmail\n\nКогда все данные собраны — ответь ТОЛЬКО в таком формате и ничего больше:\nЗАПИСЬ: имя=xxx | услуга=xxx | мастер=xxx | дата=xxx | телефон=xxx | email=xxx\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        -32
      ],
      "id": "a4f188b0-7a3f-41dc-af4c-fb932edc8d39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -256,
        176
      ],
      "id": "c91cd495-bf6c-4cf9-ba32-b73d3a028deb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CahgVi1GwdImfmVL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        176
      ],
      "id": "b3d66f13-1e2e-4e05-8764-46e7bd60c0a3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30dae329-0c08-459a-8eeb-504f647993ff",
              "leftValue": "={{ $json.result.text }}",
              "rightValue": "ЗАПИСЬ:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -32
      ],
      "id": "73118fe5-f937-434d-bb7c-97770e5a6d37",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "987521654",
        "text": "={{ $json.result.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -144
      ],
      "id": "935b483f-1039-448c-a131-2f747479c660",
      "name": "подтверждение заказа",
      "webhookId": "d9add7c4-f646-44d8-b8f1-83f73848efe1",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        64
      ],
      "id": "e49008f9-3932-4bf1-af29-3b9a4adbe107",
      "name": "уточнения",
      "webhookId": "12cfde36-30bd-4a25-9680-e58e293e6548",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -144
      ],
      "id": "871e3515-fe68-43e8-8cb6-9cdbea39f2d7",
      "name": "уведомление менеджеру",
      "webhookId": "a12e8de3-8a63-4eea-a7d6-67bcc56d1286",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -32
      ],
      "id": "2c9fc708-8862-41bc-85ea-cad6fb6f6ade",
      "name": "общение с клиентом",
      "webhookId": "8b76c66b-2269-402f-a73b-0a2717537e7b",
      "credentials": {
        "telegramApi": {
          "id": "lUdskRcMijpMhuX7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2881e8ef-c343-4a90-afb8-49f49e8e16e4",
              "name": "дата",
              "value": "={{ $json.result.text.split('дата=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "a89b00b3-a771-4eee-80d3-b238babdc9e6",
              "name": "Имя",
              "value": "={{ $json.result.text.split('имя=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "2893fc7c-eeea-4ea8-ae56-3b9b8d86cefb",
              "name": "телефон",
              "value": "={{ $json.result.text.split('телефон=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "fb812c7a-51a7-4eca-80f0-8b2d2f47e4c3",
              "name": "email",
              "value": "={{ $json.result.text.split('email=')[1] }}",
              "type": "string"
            },
            {
              "id": "11c1c1dc-7ef1-414a-93b2-3a789c85e00f",
              "name": "услуга",
              "value": "={{ $json.result.text.split('услуга=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "aff06146-b5ad-41d9-b6f7-5a4952ef57df",
              "name": "мастер",
              "value": "={{ $json.result.text.split('мастер=')[1].split(' |')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -144
      ],
      "id": "708f5744-e562-4547-986e-7f755a8491a0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -144
      ],
      "id": "85ec3339-be5b-4dce-974b-040c966592ee",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cmQQOb8PzYi6Lx0K",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "общение с клиентом",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "подтверждение заказа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "уточнения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "подтверждение заказа": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "общение с клиентом": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "уведомление менеджеру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "296f9ab7-987e-4941-a273-23d6d8bb0244",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afefe7c7dbea9cfa5a05e33d209b54d273703ddc59fe3bbb48dea781d68cd07c"
  },
  "id": "dzlSVytc5OyQut7M",
  "tags": []
}