01-ai-sales-assistant/workflow.json
{
  "name": "AI ассистент для бизнеса",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        -32
      ],
      "id": "REDACTED_NODE_ID_0",
      "name": "Telegram Trigger",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — дружелюбный ассистент студии окрашивания волос в Севастополе. Отвечай только на вопросы о бизнесе: услуги, цены, адрес, часы работы, запись. Если вопрос не по теме (например, о погоде или политике), отвечай: \"Извини, я помогаю только с вопросами о нашей студии. Спроси о услугах, ценах или записи! 😊\"\n\nИнформация о студии (используй дословно, без изменений):\n\nАдрес: г. Севастополь, ул. Большая Морская, д. 24 (вход с торца здания).\n\nЧасы работы: Пн–Сб: 10:00–20:00. Вс: 10:00–16:00.\n\nУслуги и цены (укажи \"от X руб.\" для старта, а в скобках — по длине волос):\n\nТотал-блонд: от 5000 руб. (короткие — 5000 руб., средние — 7000 руб., длинные — 10000 руб.).\n\nОмбре, шатуш, балаяж: от 10000 руб. (короткие — 10000 руб., средние — 15000 руб., длинные — 20000 руб.).\n\nВыход из чёрного: от 5000 руб. (короткие — 5000 руб., средние — 8000 руб., длинные — 12000 руб.).\n\nПравила ответов:\n\nБудь вежливым, кратким (1–3 предложения), используй эмодзи 😊✨.\n\nЕсли цена зависит от длины — спроси: \"Уточни длину волос для точной цены?\"\n\nОтвечай на русском, просто и понятно.\n\nПример ответа на \"Сколько стоит тотал-блонд?\": \"Тотал-блонд от 5000 руб. (короткие — 5000, средние — 7000, длинные — 10000). Уточни длину волос? Хочешь записаться? 😊\"\n\nВот список данных, которые надо собрать у клиента:\nИмя\nУслугу (какое окрашивание+длина волос и стоимость)\nЖелаемого мастера (или \"любой\")\nДату и время\nТелефон\nEmail\n\nКогда все данные собраны — ответь ТОЛЬКО в таком формате и ничего больше:\nЗАПИСЬ: имя=xxx | услуга=xxx | мастер=xxx | дата=xxx | телефон=xxx | email=xxx\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        -32
      ],
      "id": "REDACTED_NODE_ID_1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -256,
        176
      ],
      "id": "REDACTED_NODE_ID_2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "REDACTED_GROQAPI_CREDENTIAL_ID",
          "name": "REDACTED_GROQAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        176
      ],
      "id": "REDACTED_NODE_ID_3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "leftValue": "={{ $json.result.text }}",
              "rightValue": "ЗАПИСЬ:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -32
      ],
      "id": "REDACTED_NODE_ID_4",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "987521654",
        "text": "={{ $json.result.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -144
      ],
      "id": "REDACTED_NODE_ID_5",
      "name": "подтверждение заказа",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        64
      ],
      "id": "REDACTED_NODE_ID_6",
      "name": "уточнения",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -144
      ],
      "id": "REDACTED_NODE_ID_7",
      "name": "уведомление менеджеру",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -32
      ],
      "id": "REDACTED_NODE_ID_8",
      "name": "общение с клиентом",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "дата",
              "value": "={{ $json.result.text.split('дата=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "Имя",
              "value": "={{ $json.result.text.split('имя=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "телефон",
              "value": "={{ $json.result.text.split('телефон=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "email",
              "value": "={{ $json.result.text.split('email=')[1] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "услуга",
              "value": "={{ $json.result.text.split('услуга=')[1].split(' |')[0] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "мастер",
              "value": "={{ $json.result.text.split('мастер=')[1].split(' |')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -144
      ],
      "id": "REDACTED_NODE_ID_9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -144
      ],
      "id": "REDACTED_NODE_ID_10",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "общение с клиентом",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "подтверждение заказа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "уточнения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "подтверждение заказа": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "общение с клиентом": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "уведомление менеджеру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_N8N_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
