03-hh-parser/workflow.json
{
  "name": "умный парсер",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "REDACTED_NODE_ID_0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.hh.ru/vacancies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "n8n автоматизация"
            },
            {
              "name": "area",
              "value": "113"
            },
            {
              "name": "per_page",
              "value": "10"
            },
            {
              "name": "salary",
              "value": "100000"
            },
            {
              "name": "only_with_salary",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        0
      ],
      "id": "REDACTED_NODE_ID_1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Название: {{ $json.название }}\nКомпания: {{ $json.компания }}\nЗарплата: {{ $json.зарплата }}\nФормат: {{ $json.формат }}\nСсылка: {{ $json.ссылка }}",
        "options": {
          "systemMessage": "Ты — HR-аналитик. Тебе дают данные о вакансии.\nТвоя задача — кратко проанализировать вакансию и вернуть ТОЛЬКО JSON без markdown:\n\n\n  \"оценка\": \"высокая/средняя/низкая\",\n  \"плюсы\": \"2-3 главных плюса вакансии\",\n  \"минусы\": \"2-3 главных минуса или чего не хватает\",\n  \"вывод\": \"одно предложение — стоит ли откликаться\"\n\n\nКритерии оценки:\n- высокая: удалённая работа + зарплата указана + n8n упомянут\n- средняя: частично соответствует критериям\n- низкая: офис только + зарплата не указана\n\nВ начале оценки вакансий пиши:\n- название вакансии\n- заплату\n- формат\n- ссылку на вакансию\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "REDACTED_NODE_ID_2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        192
      ],
      "id": "REDACTED_NODE_ID_3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "REDACTED_GROQAPI_CREDENTIAL_ID",
          "name": "REDACTED_GROQAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.items.map(v => ({\n  json: {\n    название: v.name,\n    компания: v.employer.name,\n    зарплата: v.salary ? v.salary.from : null,\n    ссылка: v.alternate_url,\n    формат: v.schedule.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "id": "REDACTED_NODE_ID_4",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        0
      ],
      "id": "REDACTED_NODE_ID_5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "leftValue": "={{ $('Code in JavaScript').item.json['зарплата'] }}",
              "rightValue": 100000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "leftValue": "={{ $('Code in JavaScript').item.json['формат'] }}",
              "rightValue": "Удаленная работа",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        0
      ],
      "id": "REDACTED_NODE_ID_6",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "название",
              "value": "={{ $('Code in JavaScript').item.json[\"название\"] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "компания",
              "value": "={{ $('Code in JavaScript').item.json[\"компания\"] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "зарплата",
              "value": "={{ $('Code in JavaScript').item.json[\"зарплата\"] }}",
              "type": "number"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "формат",
              "value": "={{ $('Code in JavaScript').item.json[\"формат\"] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "ссылка",
              "value": "={{ $('Code in JavaScript').item.json[\"ссылка\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -176
      ],
      "id": "REDACTED_NODE_ID_7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "=Вакансии, к которым стоит присмотреться! {{ $json['текст'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        -176
      ],
      "id": "REDACTED_NODE_ID_8",
      "name": "Send a text message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "=А это мутные! {{ $json[\"текст\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        16
      ],
      "id": "REDACTED_NODE_ID_9",
      "name": "Send a text message1",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        -176
      ],
      "id": "REDACTED_NODE_ID_10",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const vacancies = items[0].json.data;\n\nconst text = vacancies.map(v => \n  `📌 ${v.название}\\n🏢 ${v.компания}\\n💰 ${v.зарплата} руб\\n🔗 ${v.ссылка}`\n).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { текст: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -176
      ],
      "id": "REDACTED_NODE_ID_11",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        16
      ],
      "id": "REDACTED_NODE_ID_12",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "const vacancies = items[0].json.data;\n\nconst text = vacancies.map(v => \n  `📌 ${v.название}\\n🏢 ${v.компания}\\n💰 ${v.зарплата} руб\\n🔗 ${v.ссылка}`\n).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { текст: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        16
      ],
      "id": "REDACTED_NODE_ID_13",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "название",
              "value": "={{ $('Code in JavaScript').item.json[\"название\"] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "компания",
              "value": "={{ $('Code in JavaScript').item.json[\"компания\"] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "зарплата",
              "value": "={{ $('Code in JavaScript').item.json[\"зарплата\"] }}",
              "type": "number"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "формат",
              "value": "={{ $('Code in JavaScript').item.json[\"формат\"] }}",
              "type": "string"
            },
            {
              "id": "REDACTED_INTERNAL_ID",
              "name": "ссылка",
              "value": "={{ $('Code in JavaScript').item.json[\"ссылка\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        16
      ],
      "id": "REDACTED_NODE_ID_14",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_N8N_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
