02-lead-funnel/workflow.json
{
  "name": "Полная воронка продаж",
  "nodes": [
    {
      "parameters": {
        "path": "REDACTED_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -64
      ],
      "id": "REDACTED_NODE_ID_0",
      "name": "Webhook",
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Ты — эксперт по маркетингу и квалификации лидов. Твоя задача: проанализировать текст заявки клиента и классифицировать его по \"температуре\" — горячий, тёплый или холодный. Это маркетинговый термин: насколько клиент готов купить прямо сейчас.\n\nКритерии классификации (строго следуй им, без исключений):\n\n🔥 **Горячий клиент** (высокая готовность к покупке СЕЙЧАС):\n- Конкретно хочет купить: упоминает заказ, бюджет, сроки, цену, \"хочу заказать/купить\".\n- Знает, что хочет: описывает детали (например, \"сайт за 50к руб через 2 недели\").\n- Пример: \"Хочу заказать сайт, бюджет 50,000 руб, нужно через 2 недели\".\n\n🌡 **Тёплый клиент** (интерес есть, но думает):\n- Задаёт вопросы о возможностях, сравнивает варианты, интересуется \"подробнее\".\n- Нет конкретики по покупке, но показывает интерес к продукту/услуге.\n- Пример: \"Интересует автоматизация бизнеса, хочу узнать подробнее\".\n\n❄️ **Холодный клиент** (просто смотрит, не готов):\n- Расплывчато: \"интересуюсь\", \"что это такое\", без конкретики или намерения купить.\n- Пример: \"Просто интересуюсь что такое автоматизация\".\n\nШаги анализа:\n1. Прочитай текст заявки внимательно.\n2. Определи ключевые слова, намерение и конкретику.\n3. Выбери РОВНО ОДНУ категорию: \"горячий\", \"тёплый\" или \"холодный\".\n4. Обоснуй решение в 1-2 предложениях (кратко).\n\nТекст заявки для анализа:\n{{ $json.query.request }}\n\nВерни ТОЛЬКО чистый JSON без markdown, без пояснений, без текста вокруг.\n\nФормат:\n{\n  \"temperature\": \"горячий|тёплый|холодный\",\n  \"reason\": \"краткое объяснение решения\",\n  \"next_action\": \"рекомендованное действие\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        -64
      ],
      "id": "REDACTED_NODE_ID_1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -416,
        128
      ],
      "id": "REDACTED_NODE_ID_2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "REDACTED_GROQAPI_CREDENTIAL_ID",
          "name": "REDACTED_GROQAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.temperature }}",
                    "rightValue": "холодный",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "REDACTED_INTERNAL_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "холодный"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "REDACTED_INTERNAL_ID",
                    "leftValue": "={{ $json.temperature }}",
                    "rightValue": "горячий",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "горячий"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "REDACTED_INTERNAL_ID",
                    "leftValue": "={{ $json.temperature }}",
                    "rightValue": "тёплый",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "тёплый"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -48,
        -96
      ],
      "id": "REDACTED_NODE_ID_3",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔥 Горячий лид!\n\nИмя: {{ $json.name }}\nТелефон: {{ $json.phone }}\nEmail: {{ $json.email }}\nЗапрос: {{ $json.request }}\n\nПочему горячий:\n{{ $json.reason }}\n\nДействие:\n{{ $json.next_action }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -64
      ],
      "id": "REDACTED_NODE_ID_4",
      "name": "Send a text message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED_EXTERNAL_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"TITLE\": \"Заявка от {{ $('Code in JavaScript').item.json.name }}\",\n    \"COMMENTS\": \"Телефон: {{ $('Code in JavaScript').item.json.phone }} Email: {{ $('Code in JavaScript').item.json.email }} Заявка: {{ $('Code in JavaScript').item.json.request }} Температура: {{ $('Code in JavaScript').item.json.temperature }} Причина: {{ $('Code in JavaScript').item.json.reason }}\",\n    \"OPPORTUNITY\": {{ $('Code in JavaScript').item.json.budget }},\n    \"CURRENCY_ID\": \"RUB\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        -64
      ],
      "id": "REDACTED_NODE_ID_5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "{{ $json.email }}",
        "subject": "Presentation",
        "emailType": "text",
        "message": "smth",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        144
      ],
      "id": "REDACTED_NODE_ID_6",
      "name": "Send a message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "REDACTED_GMAILOAUTH2_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "{{ $json.email }}",
        "subject": "TEXT",
        "emailType": "text",
        "message": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        -256
      ],
      "id": "REDACTED_NODE_ID_7",
      "name": "Send a message1",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "REDACTED_GMAILOAUTH2_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -256
      ],
      "id": "REDACTED_NODE_ID_8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst lead = $('Webhook').first().json.query;\n\nconst cleaned = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n// Ищем бюджет в тексте заявки\nconst requestText = lead.request || '';\nconst budgetMatch = requestText.match(/(?:бюджет|цена|стоимость)\\D*(\\d[\\d\\s.,]*)/i);\n\nlet budget = null;\n\nif (budgetMatch) {\n  budget = Number(\n    budgetMatch[1]\n      .replace(/\\s/g, '')\n      .replace(',', '')\n      .replace('.', '')\n  );\n}\n\ntry {\n  const data = JSON.parse(cleaned);\n\n  return [\n    {\n      json: {\n        name: lead.name,\n        email: lead.email,\n        phone: lead.phone,\n        request: lead.request,\n        budget: budget,\n        temperature: data.temperature,\n        reason: data.reason,\n        next_action: data.next_action,\n        raw_ai_output: raw\n      }\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        name: lead.name,\n        email: lead.email,\n        phone: lead.phone,\n        request: lead.request,\n        budget: budget,\n        temperature: \"ошибка\",\n        reason: \"AI вернул невалидный JSON\",\n        next_action: \"Проверить вручную\",\n        raw_ai_output: raw,\n        error: error.message\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -64
      ],
      "id": "REDACTED_NODE_ID_9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        144
      ],
      "id": "REDACTED_NODE_ID_10",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=AI вернул кривой JSON, надо проверить.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        192
      ],
      "id": "REDACTED_NODE_ID_11",
      "name": "Send a text message1",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_N8N_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
