other-projects/HR_Onboarding automation.json
{
  "name": "HR/Onboarding automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "REDACTED_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 1642490750,
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        0
      ],
      "id": "REDACTED_NODE_ID_0",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSTRIGGEROAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSTRIGGEROAUTH2API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Добро пожаловать в компанию, {{$json[\"Имя\"]}}",
        "emailType": "text",
        "message": "=Привет, {{$json[\"Имя\"]}}!\n\nДобро пожаловать в нашу команду {{ $json[\"Отдел\"] }}.\nТвоя роль: {{ $json[\"Роль\"] }}.\nДата начала работы: {{ $json[\"Дата старта\"] }}.\n\nСкоро с тобой свяжется HR с деталями доступа и обучением.\n\nHR-отдел\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -320,
        0
      ],
      "id": "REDACTED_NODE_ID_1",
      "name": "Send a message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "REDACTED_GMAILOAUTH2_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "=🚀 Новый сотрудник!  👤 {{ $('Google Sheets Trigger').item.json['Имя'] }} 📧 {{ $('Google Sheets Trigger').item.json.Email }} 📋 Роль: {{ $('Google Sheets Trigger').item.json['Роль'] }} 🏢 Отдел: {{ $('Google Sheets Trigger').item.json['Отдел'] }} 📅 Старт: {{ $('Google Sheets Trigger').item.json['Дата старта'] }}  Задачи: • Создать доступы • Добавить в каналы • Провести вводный инструктаж",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        0
      ],
      "id": "REDACTED_NODE_ID_2",
      "name": "Send a text message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "leftValue": "={{ $('Google Sheets Trigger').item.json['Роль'] }}",
              "rightValue": "developer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        0
      ],
      "id": "REDACTED_NODE_ID_3",
      "name": "If"
    },
    {
      "parameters": {
        "name": "=Onboarding:  ({{ $('Google Sheets Trigger').item.json['Имя'] }}, {{ $('Google Sheets Trigger').item.json['Роль'] }})",
        "description": "=👤 {{ $('Google Sheets Trigger').item.json['Имя'] }}\n📧 {{ $('Google Sheets Trigger').item.json.Email }}\n📅 {{ $('Google Sheets Trigger').item.json['Дата старта'] }}\n\nЧек-лист:\n-  Доступы к сервисам\n-  Slack/Telegram канал\n-  Обучение (видео, docs)\n-  Знакомство с командой\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        128,
        -96
      ],
      "id": "REDACTED_NODE_ID_4",
      "name": "Create a card"
    },
    {
      "parameters": {
        "name": "=Onboarding:  ({{ $('Google Sheets Trigger').item.json['Имя'] }}, {{ $('Google Sheets Trigger').item.json['Роль'] }})",
        "description": "=👤 {{ $('Google Sheets Trigger').item.json['Имя'] }}\n📧 {{ $('Google Sheets Trigger').item.json.Email }}\n📅 {{ $('Google Sheets Trigger').item.json['Дата старта'] }}\n\nЧек-лист:\n-  Доступы к сервисам\n-  Slack/Telegram канал\n-  Обучение (видео, docs)\n-  Знакомство с командой\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        128,
        96
      ],
      "id": "REDACTED_NODE_ID_5",
      "name": "Create a card1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        96
      ],
      "id": "REDACTED_NODE_ID_6",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 1642490750,
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json[\"Email\"] }}",
            "Статус": "Onboarded ✅"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Роль",
              "displayName": "Роль",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Отдел",
              "displayName": "Отдел",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата старта",
              "displayName": "Дата старта",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        96
      ],
      "id": "REDACTED_NODE_ID_7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        272,
        -96
      ],
      "id": "REDACTED_NODE_ID_8",
      "name": "Get a user's repositories",
      "webhookId": "REDACTED_WEBHOOK_ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a card1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Get a user's repositories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's repositories": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_N8N_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
