other-projects/Система поддержки клиентов.json
{
  "name": "Система поддержки клиентов",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        0
      ],
      "id": "REDACTED_NODE_ID_0",
      "name": "Telegram Trigger",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — эксперт по клиентскому сервису. Твоя задача: проанализировать сообщение клиента из Telegram и классифицировать тип обращения. Выбери РОВНО ОДНУ категорию из 4-х.\n\nКритерии классификации (строго следуй):\n\n❓ ВОПРОС — обычные вопросы по услугам, ценам, возможностям, инструкции\nПримеры: \"Сколько стоит?\", \"Как настроить?\", \"Что входит в тариф?\", \"Можно ли интегрировать с 1С?\"\nДействие: AI отвечает сам (сгенерируй готовый ответ в поле response)\n\n🔧 ТЕХНИЧЕСКАЯ ПРОБЛЕМА — ошибки, баги, не работает, сбой\nПримеры: \"Не заходит в личный кабинет\", \"Бот не отвечает\", \"Ошибка 500\", \"Не приходит письмо\"\nДействие: передать в техподдержку (response не нужен)\n\n💰 ЖАЛОБА НА ОПЛАТУ — проблемы с деньгами, платежами, подписками\nПримеры: \"Деньги списали дважды\", \"Не могу оплатить\", \"Где мой чек?\", \"Подписка не отключилась\"\nДействие: передать в фин.отдел (response не нужен)\n\n😡 НЕГАТИВ/ЖАЛОБА — недовольство качеством, задержки, хамство, угрозы\nПримеры: \"Вы хамите!\", \"Уже 3 дня жду!\", \"Никому не советую\", \"Обманули с сроками\"\nДействие: срочно менеджеру (response не нужен)\n\nШаги:\n1. Прочитай сообщение: \"{{ $json.message }}\"\n2. Определи намерение и ключевые слова\n3. Выбери тип: \"вопрос\", \"техническая\", \"оплата\" или \"негатив\"\n4. Если вопрос — напиши ПОЛЕЗНЫЙ готовый ответ клиенту (2-4 предложения, дружелюбно)\n\nТекст сообщения: \"{{ $json.message }}\"\n\nВерни ТОЛЬКО JSON:\n{\n  \"type\": \"вопрос|техническая|оплата|негатив\",\n  \"response\": \"текст ответа (только для вопроса, иначе пустая строка '' или null\"\n}\n\nНе используй markdown форматирование, возвращай только чистый JSON\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        0
      ],
      "id": "REDACTED_NODE_ID_1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -288,
        192
      ],
      "id": "REDACTED_NODE_ID_2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "REDACTED_GROQAPI_CREDENTIAL_ID",
          "name": "REDACTED_GROQAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "вопрос",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "REDACTED_INTERNAL_ID"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "вопрос"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "REDACTED_INTERNAL_ID",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "техническая",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "техническая"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "REDACTED_INTERNAL_ID",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "оплата",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "оплата"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "REDACTED_INTERNAL_ID",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "негатив",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "негатив"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        -32
      ],
      "id": "REDACTED_NODE_ID_3",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -176
      ],
      "id": "REDACTED_NODE_ID_4",
      "name": "Send a text message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REDACTED_TELEGRAM_CHAT_ID",
        "text": "У нас проблема!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        0
      ],
      "id": "REDACTED_NODE_ID_5",
      "name": "Send a text message1",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "REDACTED_GOOGLE_SHEET_GID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Имя": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Вопрос": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Вопрос",
              "displayName": "Вопрос",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        0
      ],
      "id": "REDACTED_NODE_ID_6",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REDACTED_TELEGRAM_CHAT_ID",
        "text": "У нас проблемы!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        176
      ],
      "id": "REDACTED_NODE_ID_7",
      "name": "Send a text message2",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "REDACTED_GOOGLE_SHEET_GID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Имя": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Вопрос": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Вопрос",
              "displayName": "Вопрос",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        176
      ],
      "id": "REDACTED_NODE_ID_8",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REDACTED_TELEGRAM_CHAT_ID",
        "text": "Менеджер проснись!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        368
      ],
      "id": "REDACTED_NODE_ID_9",
      "name": "Send a text message3",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\nconst cleaned = raw.replace(/```json\\n|```/g, '').trim();\nconst output = JSON.parse(cleaned);\nreturn [{ json: { type: output.type, response: output.response } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "REDACTED_NODE_ID_10",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_N8N_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
