other-projects/Финансовый мониторинг.json
{
  "name": "Финансовый мониторинг",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -32
      ],
      "id": "REDACTED_NODE_ID_0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const rows = items;\n\nlet totalIncome = 0;\nlet totalExpense = 0;\n\nfor (const row of rows) {\n  const type = row.json.Тип;\n  const amount = Number(row.json.Сумма);\n  \n  if (type === 'доход') {\n    totalIncome += amount;\n  } else if (type === 'расход') {\n    totalExpense += amount;\n  }\n}\n\nconst profit = totalIncome - totalExpense;\nconst budget = 1000; // лимит расходов\n\nreturn [{\n  json: {\n    доход: totalIncome,\n    расход: totalExpense,\n    прибыль: profit,\n    превышен: totalExpense > budget\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -32
      ],
      "id": "REDACTED_NODE_ID_1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "REDACTED_INTERNAL_ID",
              "leftValue": "={{ $json.превышен }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -32
      ],
      "id": "REDACTED_NODE_ID_2",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "andy_randy23@mail.ru",
        "subject": "Расход",
        "emailType": "text",
        "message": "=Ваш расход: {{ $json['расход'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        -128
      ],
      "id": "REDACTED_NODE_ID_3",
      "name": "Send a message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "REDACTED_GMAILOAUTH2_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "=Ваш расход: {{ $('Code in JavaScript').item.json['расход'] }}, доход: {{ $('Code in JavaScript').item.json['доход'] }}, прибыль составляет: {{ $('Code in JavaScript').item.json['прибыль'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -128
      ],
      "id": "REDACTED_NODE_ID_4",
      "name": "Send a text message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7902494464",
        "text": "Расход превышен! Остановись!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        64
      ],
      "id": "REDACTED_NODE_ID_5",
      "name": "Send a text message1",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_TELEGRAMAPI_CREDENTIAL_ID",
          "name": "REDACTED_TELEGRAMAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "andy_randy23@mail.ru",
        "subject": "Расход!",
        "emailType": "text",
        "message": "Ваш расход превышен! Аккуратней!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        368,
        64
      ],
      "id": "REDACTED_NODE_ID_6",
      "name": "Send a message1",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REDACTED_GMAILOAUTH2_CREDENTIAL_ID",
          "name": "REDACTED_GMAILOAUTH2_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED_RESOURCE_ID",
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 2144297555,
          "mode": "list",
          "cachedResultName": "REDACTED_RESOURCE_NAME",
          "cachedResultUrl": "REDACTED_RESOURCE_URL"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -32
      ],
      "id": "REDACTED_NODE_ID_7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL_ID",
          "name": "REDACTED_GOOGLESHEETSOAUTH2API_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_N8N_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
